# build output
dist/

# generated types
.astro/
.idea/
.vscode/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# binaries
litestream

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Ignore .sqlite3 files
*.sqlite3
```