---
import { getSession } from 'auth-astro/server';

import Layout from '../layouts/Layout.astro';
import Comment from '../components/Comment.astro';
import CommentForm from '../components/CommentForm.astro';
import { db } from '../utils/db';
import { comments } from '../models/schema';

const session = await getSession(Astro.request);
if (!session) return Astro.redirect('/login');

if (Astro.request.method === 'POST') {
  const data = await Astro.request.formData();
  const author = data.get('author');
  const content = data.get('content');
  await db.insert(comments).values({
    author: author as string,
    content: content as string
  });
}

const cms = await db.query.comments.findMany();
---

<Layout title="Comments">
  <main class="my-8 mx-auto max-w-2xl px-4">
    <h1 class="text-2xl font-bold text-gray-900 mb-6">Comments</h1>
    <ul class="list-none space-y-4">
      {cms.map((comment) => <Comment comment={comment} />)}
    </ul>
    <CommentForm defaultName={session.user?.name} />
  </main>
</Layout>
