---
import { SignOut } from 'auth-astro/components';

interface Props {
  defaultName: string | undefined | null;
}

const { defaultName } = Astro.props;
---

<form class="mt-8" method="post">
  <div class="mb-4">
    <label for="author" class="block text-gray-700 text-sm font-bold mb-2">
      Name
    </label>
    <input
      type="text"
      id="author"
      name="author"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      placeholder="Your name"
      value={defaultName}
    />
  </div>

  <div class="mb-6">
    <label for="content" class="block text-gray-700 text-sm font-bold mb-2">
      Comment
    </label>
    <textarea
      id="content"
      name="content"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      rows="4"
      placeholder="Your comment"></textarea>
  </div>

  <div class="flex items-center justify-between">
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Submit
    </button>

    <SignOut
      class="hover:bg-gray-100 text-gray-500 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
    >
      Sign Out
    </SignOut>
  </div>
</form>
